<mat-toolbar color="primary" class="d-flex justify-content-between align-items-center">
   
    <h4>{{'panel de administración' | titlecase }}</h4>
    
   <h1>{{'ABS STUDIO' | uppercase }}</h1>
    
    <button 
            mat-icon-button 
            class="example-icon" 
            aria-label="Example icon-button with share icon"
            matTooltip="usuario logeado"
            matTooltipPosition="left"
            >
      <mat-icon>
        account_circle
      </mat-icon>
    </button>

  </mat-toolbar>
